*{
    font-family:Montserrat;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
  .btn{
    padding:25px;
    color:white;
    background:#696969;
    border-radius:35px;
    display:inline-block;
    width:25%;
    border-width:0px;
}
.btn:hover{
    background-color: #555;
    color: white;
}
.btn:focus{
    outline:none;
}
