<div class="split left">
  <img src="assets/img/signup-bg.png">
  
</div>

<div class="split right">
 <div class="centered">
  <h3>SIGN UP</h3>
    <hr>
    <form>
    <label for="firstname"><b>FIRST NAME</b></label>
    <input type="text" placeholder="Enter Name" name="firstname" required>

    <label for="lastname"><b>LAST NAME</b></label>
    <input type="text" placeholder="Enter Surname" name="lastname" required>

    <label for="email"><b>EMAIL</b></label>
    <input type="text" pattern="[^ @]*@[^ @]*" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>PASSWORD</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required maxlength="8">

    <label for="psw-repeat"><b>CONFIRM PASSWORD</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required maxlength="8">

    <button class="button">SIGN UP</button>
    
    <p>Already a customer ?<a href="#" style="color:black" routerLink="../log-in"><b>LOGIN</b></a>.</p>
    </form>   
  </div>
</div>

