<div class="bg">
  <div class="header">
    <h1>ICICI</h1>
    <hr>
    <h4>online banking service</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <button style="padding-left: 50px; padding-right: 50px;" type="button" class="buttons-local" routerLink="log-in">LOG - IN</button>
      </div>
      <div class="col-lg-4 col-sm-12">
        <button style="padding-left: 45px; padding-right: 45px;" type="button" class="buttons-local" routerLink="sign-up">SIGN - UP</button>
      </div>
      <div class="col-lg-4 col-sm-12">
        <button  type="button" class="buttons-local">ABOUT US</button>
      </div>
    </div>
  </div>
 